.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centerContent{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.similarRowButtons{
  display: inline-block;
  margin-right: 10px;
}

.solidYesBar, .solidNoBar{
  
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solidYesBar{
  background-color: blue;
}

.solidNoBar{
  background-color: gray;
}

.pollBackground{
  padding: 20px 20px;
  background-color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  width: 50%;

  
}
.font-white{
  color: white;
  
}

.grayBar{
  background-color: gray;
  height: 2px;
}
.navigationBar, .poll{
  margin-bottom: 30px;
}
.poll, .pollButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  
}
.matchType, .matchLocation, .weatherDetails, .grayBar{
  margin-bottom: 20px;
}
.pollButton{
  margin-right: 10px;
  background-color: gray;
}
.loginForm{
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:100vh;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profilePictureBlock{
  text-align: right;
}

.modalProfilePicutre{
  height: 150px;
  width: 150px;
}

.modalProfilePicutreBlock{
  text-align: center;
}